<div class="container-fluid">
    <%= form_with model: @booking do |form| %>
        <%= form.hidden_field :flight_id, :value => @flight.id %>

        <div class="row">
            <div class="col-lg-4 mx-auto">
                <div class="card" id="flight-card">
                    <div class="card-header">
                        <%= render partial: 'flights/flight_card', flight: @flight %>
                    </div>
                </div>
            </div>
        </div>
            <br />
        <div class="row">
            <div class="col-lg-4 mx-auto">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title mx-auto">Passenger Info:</h3>
                    </div>
                    <%= form.fields_for :passengers do |passenger_info_form| %>
                    <div class="row mx-auto">
                        <div class="col-sm-6">    
                        <br />
                            <%= passenger_info_form.label :name %>
                            <%= passenger_info_form.text_field :name, class: "form-control" %>
                        <br />
                        </div>
                        <div class="col-sm-6">
                        <br />
                            <%= passenger_info_form.label :email %>
                            <%= passenger_info_form.email_field :email, class: "form-control" %>
                        <br />
                        </div>
                    </div>
                    <% end %>
                </div>
            </div>
        </div>
            
    <br />
    <%= form.submit class: "btn-block btn-lg btn-success" %>
    <% end %>

</div>