<div class="container">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <div class="card">
                <div class="card-header">
                    <div class="col-sm-8">
                        <strong>Flight ID#: <%= @booking.flight.id %></strong>
                        <h3 class="card-title"><%= @booking.flight.time.strftime("%H:%m") %>, on <%= @booking.flight.time.strftime("%d/%m/%Y") %></h3>
                    </div>

                    <div class="row mx-auto">
                        <div class="col-sm-4">  
                            <h6 class="card-subtitle"><%= @booking.flight.origin_airport.name %></h6>
                        </div>
                        <div class="col-sm-2">  
                            <h3 class="card-subtitle mx-auto"> --> </h3>
                        </div>
                        <div class="col-sm-4">  
                            <h6 class="card-subtitle"><%= @booking.flight.destination_airport.name %></h6>
                        </div>  
                    </div>
                </div>

                <div class="card-body">
                    <h3 class="card-subtitle">Passengers:</h3>
                    <br />
                    <%= render partial: 'passengers', booking: @booking %>
                </div>
            </div>
        </div>
    </div>
</div>